---
layout: default
---

<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuesax/dist/vuesax.css"
      rel="stylesheet"
    />
    <link
      href="{{ '/assets/css/style.css' | relative_url }}"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuesax/dist/vuesax.umd.js"></script>
  </head>
  <body>
    {% raw %}
    <div id="app">
      <div id="content" v-cloak>
        <div id="navbar">
          <vs-navbar>
            <div slot="title">
              <vs-navbar-title>
                {{ title }}
              </vs-navbar-title>
            </div>
          </vs-navbar>
        </div>
        <div>
          <vs-row
            vs-justify="center"
            v-for="group in postGroups"
            :key="group.id"
          >
            <vs-col
              type="flex"
              vs-justify="center"
              vs-align="center"
              vs-lg="4"
              vs-sm="4"
              vs-xs="12"
              v-for="post in group.posts"
              :key="post.id"
            >
              <vs-card>
                <div slot="header">
                  <h3>{{ post.title }}</h3>
                </div>
                <div>
                  <vs-chip v-for="tag in post.tags" :key="tag">
                    <vs-avatar icon="label"></vs-avatar>
                    {{ tag }}
                  </vs-chip>
                </div>
              </vs-card>
            </vs-col>
          </vs-row>
        </div>
        <div>
          <vs-button
            color="primary"
            type="border"
            icon="keyboard_arrow_left"
            :disabled="!pager.prev"
            @click="gotoPrev"
          >
            Prev
          </vs-button>
          <vs-button
            color="primary"
            type="border"
            icon="keyboard_arrow_right"
            icon-after
            :disabled="!pager.next"
            @click="gotoNext"
          >
            Next
          </vs-button>
        </div>
      </div>
    </div>
    {% endraw %}

    <script>
      new Vue({
        el: '#app',
        computed: {
          postGroups: function() {
            var list = [];
            var group = { id: 1, posts: [] };
            list.push(group);
            this.posts.forEach(function(post) {
              if (group.posts.length === 3) {
                group = { id: group.id + 1, posts: [] };
                list.push(group);
              }
              group.posts.push(post);
            });
            return list;
          }
        },
        data: function() {
          return {
            title: '{{ site.title }}',
            posts: {{ paginator.posts | jsonify }},
            pager: {
              {% if paginator.previous_page %}
              prev: {{ paginator.previous_page }},
              {% endif %}
              {% if paginator.next_page %}
              next: {{ paginator.next_page }},
              {% endif %}
              current: {{ paginator.page }}
            }
          };
        },
        methods: {
          gotoPrev: function() {
            {% if paginator.previous_page %}
            window.location.href = "{{ paginator.previous_page_path | relative_url }}";
            {% endif %}
          },
          gotoNext: function() {
            {% if paginator.next_page %}
            window.location.href = "{{ paginator.next_page_path | relative_url }}";
            {% endif %}
          }
        }
      });
    </script>
  </body>
</html>
