---
layout: default
title: タグ一覧
---

<main class="main-content container">
  {% raw %}
  <div id="app" v-cloak>
    <div class="field">
      <p class="control has-icons-left" :class="{ 'is-loading': loading }">
        <input
          class="input"
          type="text"
          placeholder="Search"
          v-model="searchText"
          @input="search"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </p>
    </div>

    <nav class="panel" v-for="tag in filtered" v-if="!loading" :key="tag.tag">
      <p class="panel-heading">
        <span class="icon">
          <i class="fas fa-tag"></i>
        </span>
        {{ tag.tag }} ({{ tag.posts.length }})
      </p>
      <a
        class="panel-block"
        v-for="post in tag.posts"
        :key="post.url"
        :href="post.url"
      >
        <span class="panel-icon">
          <i class="fas fa-angle-right" aria-hidden="true"></i>
        </span>
        {{ post.title }}
      </a>
    </nav>
  </div>
  {% endraw %}
</main>
<script>
  new Vue({
    el: '#app',
    computed: {
      loading: function() {
        return this.postsLoading || this.tagsLoading;
      }
    },
    data: function() {
      return {
        tagsLoading: false,
        postsLoading: false,
        searchText: '',
        tags: [],
        posts: [],
        tagSet: [],
        filtered: []
      };
    },
    mounted: function() {
      this.setSearchText();
      this.loadTags();
      this.loadPosts();
    },
    methods: {
      setSearchText: function() {
        var query = window.location.search;
        if (query) {
          var tag = query
            .slice(1)
            .split('&')
            .map(e => e.split('='))
            .find(e => e[0] === 'tag');
          if (tag) {
            this.searchText = tag[1];
          }
        }
      },
      loadTags: function() {
        this.tagsLoading = true;
        axios
          .get("{{ '/tags.json' | relative_url }}")
          .then(res => {
            this.tags = res.data;
            this.setup();
          })
          .finally(() => {
            this.tagsLoading = false;
          });
      },
      loadPosts: function() {
        this.postsLoading = true;
        axios
          .get("{{ '/posts.json' | relative_url }}")
          .then(res => {
            this.buildPosts(res.data);
            this.setup();
          })
          .finally(() => {
            this.postsLoading = false;
          });
      },
      buildPosts: function(data) {
        data.ids.map((id, idx) => {
          this.posts.push({
            id: id,
            title: data.titles[idx],
            url: data.urls[idx],
            tags: data.tags[idx],
            date: data.dates[idx]
          });
        });
      },
      setup: function() {
        if (this.posts.length === 0 || this.tags.length === 0) {
          return;
        }
        this.setTagSet();
        this.filterPosts();
      },
      setTagSet: function() {
        var ps = this.posts;
        this.tagSet = this.tags.map(tag => {
          return {
            tag: tag,
            posts: ps.filter(post => post.tags.includes(tag))
          };
        });
      },
      filterPosts: function() {
        var txt = this.searchText.toLowerCase();
        if (!txt) {
          this.filtered = [].concat(this.tagSet);
          return;
        }
        this.filtered.splice(0);
        this.tagSet.forEach(tag => {
          if (tag.tag.toLowerCase().includes(txt)) {
            this.filtered.push(tag);
            return;
          }
          var ps = tag.posts.filter(post =>
            post.title.toLowerCase().includes(txt)
          );
          if (ps.length) {
            this.filtered.push({
              tag: tag.tag,
              posts: ps
            });
          }
        });
      },
      search: function(e) {
        this.searchText = e.target.value || '';
        this.filterPosts();
      }
    }
  });
</script>
