---
layout: default
---

<main class="main-content container">
  {% raw %}
  <div id="app">
    <div class="field">
      <p class="control has-icons-left">
        <input
          class="input"
          type="text"
          placeholder="Search"
          v-model="searchText"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </p>
    </div>

    <nav class="panel" v-for="tag in filtered" :key="tag.tag">
      <p class="panel-heading">
        <span class="icon">
          <i class="fas fa-tag"></i>
        </span>
        {{ tag.tag }} ({{ tag.posts.length }})
      </p>
      <a
        class="panel-block"
        v-for="post in tag.posts"
        :key="post.url"
        :href="post.url"
      >
        <span class="panel-icon">
          <i class="fas fa-angle-right" aria-hidden="true"></i>
        </span>
        {{ post.title }}
      </a>
    </nav>
  </div>
  {% endraw %}
</main>
<script>
  new Vue({
    el: '#app',
    computed: {
      posts: function() {
        var urlList = this.urlList;
        var tagsList = this.tagsList
        return this.titleList.map(function(title, i) {
          return {
            title: title,
            url: urlList[i],
            tags: tagsList[i]
          };
        });
      },
      tags: function() {
        var ps = this.posts;
        return this.tagsList.flat().filter(function(tag, i, self) {
          return self.indexOf(tag) === i;
        }).sort().map(function(tag) {
          return {
            tag: tag,
            posts: ps.filter(function(post) {
              return post.tags.includes(tag);
            })
          }
        });
      },
      filtered: function() {
        var txt = this.searchText;
        return this.tags.filter(function(tag, i) {
          if (!txt) {
            return true;
          }
          return tag.tag.includes(txt);
        });
      }
    },
    data: function() {
      return {
        searchText: '',
        titleList: {{ site.posts | map: "title" | jsonify }},
        tagsList: {{ site.posts | map: "tags" | jsonify }},
        urlList: {{ site.posts | map: "url" | jsonify }}
      };
    },
    mounted: function() {
      var query = window.location.search;
      if (query) {
        var tag = query.slice(1).split('&').map(function(e) {
          return e.split('=');
        }).find(function(e) {
          return e[0] === "tag";
        });
        if (tag) {
          this.searchText = tag[1];
        }
      }
    }
  });
</script>
