<footer class="footer">
  <div class="content has-text-centered">
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <img src="{{ '/assets/img/blog-author.jpg' | relative_url }}" />
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>pinzolo</strong> <small>Kyoto</small> <small>Japan</small>
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            <span class="level-item">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
              <a href="https://github.com/pinzolo">GitHub</a>
            </span>
            <span class="level-item">
              <span class="icon">
                <i class="fab fa-twitter"></i>
              </span>
              <a href="https://twitter.com/pinzolo">Twitter</a>
            </span>
          </div>
        </nav>
      </div>
    </article>
  </div>
</footer>
