<link rel="shortcut icon" href="{{ '/assets/img/icons/favicon.ico' | absolute_url }}" type="image/x-icon">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
<link href="{{ '/assets/css/style.css' | absolute_url }}" rel="stylesheet">
<link href="{{ '/assets/css/highlight.css' | absolute_url }}" rel="stylesheet">
{% if page and page.path == "tags.html" %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
{% endif %}

<!-- SEO -->
{% seo %}
<meta name="twitter:image:src" content="{{ '/assets/img/blog-image.png' | absolute_url }}">
<meta property="og:image" content="{{ '/assets/img/blog-image.png' | absolute_url }}">

<!-- Apple Touch Icons -->
<link rel="apple-touch-icon" href="{{ '/assets/img/icons/apple-touch-icon.png' | absolute_url }}">
<link rel="apple-touch-icon" sizes="57x57" href="{{ '/assets/img/icons/apple-touch-icon-57x57.png' | absolute_url }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ '/assets/img/icons/apple-touch-icon-72x72.png' | absolute_url }}">
<link rel="apple-touch-icon" sizes="114x114"
  href="{{ '/assets/img/icons/apple-touch-icon-114x114.png' | absolute_url }}">
<link rel="apple-touch-icon" sizes="144x144"
  href="{{ '/assets/img/icons/apple-touch-icon-144x144.png' | absolute_url }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ '/assets/img/icons/apple-touch-icon-60x60.png' | absolute_url }}">
<link rel="apple-touch-icon" sizes="120x120"
  href="{{ '/assets/img/icons/apple-touch-icon-120x120.png' | absolute_url }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ '/assets/img/icons/apple-touch-icon-76x76.png' | absolute_url }}">
<link rel="apple-touch-icon" sizes="152x152"
  href="{{ '/assets/img/icons/apple-touch-icon-152x152.png' | absolute_url }}">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

<!-- AdSense -->
<script data-ad-client="ca-pub-1042404819179453" async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
