<article id="ie-caution" class="message is-danger">
  <div class="message-header">
    <p>Caution</p>
  </div>
  <div class="message-body">
    <p>
      This page does not support Internet Explorer.<br />
      Please use another modern browser if possible.
    </p>
  </div>
</article>
<script>
  var ua = window.navigator.userAgent.toLowerCase();
  if (ua.indexOf('msie') === -1 && ua.indexOf('trident') === -1) {
    var caution = document.getElementById('ie-caution');
    if (caution) {
      caution.classList.add('is-hidden');
    }
  }
</script>
