<nav
  id="nav"
  class="navbar has-shadow"
  role="navigation"
  aria-label="main navigation"
>
  <div class="container">
    <div class="navbar-brand">
      <a href="{{ site.url }}" class="navbar-item">{{ site.title }}</a>
      <a
        role="button"
        id="navbar-burger"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbar-links"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbar-links" class="navbar-menu">
      <div class="navbar-end">
        <a href="/about" class="navbar-item">About</a>
      </div>
    </div>
  </div>
</nav>
